# Recommenders

## Content-Based Filtering

### Cosine Similarity

In [2]:
import pandas as pd

fruit_nutrition = pd.read_csv('Data/fruit_nutrition.csv')
fruit_nutrition

,fruit_100g,energy_kcal,water_g,protein_g,totalfat_g,fiber_g,sugars_g,vitaminc_mg
0,Banana,89,74.9,1.09,0.33,2.6,12.20,8.7
1,Lemon,29,89.0,1.10,0.30,2.8,2.50,53.0
2,Lime,30,88.3,0.70,0.20,2.8,1.69,29.1
3,Mango,46,88.3,0.91,0.27,1.5,8.39,4.1
4,Peach,60,83.5,0.82,0.38,1.6,13.70,36.4
5,Pineapple,50,86.0,0.54,0.12,1.4,9.85,47.8

In [5]:
nutrition = fruit_nutrition.set_index('fruit_100g')
nutrition.index.name = None
nutrition

,energy_kcal,water_g,protein_g,totalfat_g,fiber_g,sugars_g,vitaminc_mg
Banana,89,74.9,1.09,0.33,2.6,12.20,8.7
Lemon,29,89.0,1.10,0.30,2.8,2.50,53.0
Lime,30,88.3,0.70,0.20,2.8,1.69,29.1
Mango,46,88.3,0.91,0.27,1.5,8.39,4.1
Peach,60,83.5,0.82,0.38,1.6,13.70,36.4
Pineapple,50,86.0,0.54,0.12,1.4,9.85,47.8

In [6]:
df = nutrition.iloc[:,5:]
df

           sugars_g  vitaminc_mg
Banana        12.20          8.7
Lemon          2.50         53.0
Lime           1.69         29.1
Mango          8.39          4.1
Peach         13.70         36.4
Pineapple      9.85         47.8

In [7]:
from sklearn.metrics.pairwise import cosine_similarity

In [10]:
cosine_similarity(df.loc[['Mango', 'Banana']])[0][1]

0.9864305980007304

In [11]:
cosine_similarity(df.loc[['Mango', 'Banana']])

array([[1.       , 0.9864306],
       [0.9864306, 1.       ]])

In [14]:
# show each row of the array on one line
import numpy as np

# set linewidth to a large value to prevent wrapping
np.set_printoptions(linewidth=np.inf)

In [15]:
cosine_similarity(df)

array([[1.        , 0.61832414, 0.62683477, 0.9864306 , 0.83018982, 0.73298243],
       [0.61832414, 1.        , 0.99994086, 0.48090193, 0.95146351, 0.98784307],
       [0.62683477, 0.99994086, 1.        , 0.49040872, 0.95475426, 0.98947527],
       [0.9864306 , 0.48090193, 0.49040872, 1.        , 0.72739811, 0.61135407],
       [0.83018982, 0.95146351, 0.95475426, 0.72739811, 1.        , 0.98773952],
       [0.73298243, 0.98784307, 0.98947527, 0.61135407, 0.98773952, 1.        ]])

In [18]:
cosine_df = pd.DataFrame(cosine_similarity(df), index=df.index, columns=df.index)
cosine_df

             Banana     Lemon      Lime     Mango     Peach  Pineapple
Banana     1.000000  0.618324  0.626835  0.986431  0.830190   0.732982
Lemon      0.618324  1.000000  0.999941  0.480902  0.951464   0.987843
Lime       0.626835  0.999941  1.000000  0.490409  0.954754   0.989475
Mango      0.986431  0.480902  0.490409  1.000000  0.727398   0.611354
Peach      0.830190  0.951464  0.954754  0.727398  1.000000   0.987740
Pineapple  0.732982  0.987843  0.989475  0.611354  0.987740   1.000000

In [19]:
cosine_similarity(nutrition)

array([[1.        , 0.77186848, 0.83412488, 0.92474189, 0.93676783, 0.87931265],
       [0.77186848, 1.        , 0.97739451, 0.87650678, 0.94133956, 0.9780653 ],
       [0.83412488, 0.97739451, 1.        , 0.95282112, 0.95471941, 0.96986632],
       [0.92474189, 0.87650678, 0.95282112, 1.        , 0.94580335, 0.91804609],
       [0.93676783, 0.94133956, 0.95471941, 0.94580335, 1.        , 0.98972148],
       [0.87931265, 0.9780653 , 0.96986632, 0.91804609, 0.98972148, 1.        ]])