# Recommenders

## Content-Based Filtering

### Cosine Similarity

In [2]:
import pandas as pd

fruit_nutrition = pd.read_csv('Data/fruit_nutrition.csv')
fruit_nutrition

,fruit_100g,energy_kcal,water_g,protein_g,totalfat_g,fiber_g,sugars_g,vitaminc_mg
0,Banana,89,74.9,1.09,0.33,2.6,12.20,8.7
1,Lemon,29,89.0,1.10,0.30,2.8,2.50,53.0
2,Lime,30,88.3,0.70,0.20,2.8,1.69,29.1
3,Mango,46,88.3,0.91,0.27,1.5,8.39,4.1
4,Peach,60,83.5,0.82,0.38,1.6,13.70,36.4
5,Pineapple,50,86.0,0.54,0.12,1.4,9.85,47.8