# Recommenders Assignments

## 1. Content-Based Filtering: Cosine Similarity

In [1]:
# 1. Read in the data from the first tab of the Movie Ratings spreadsheet, which contains genre labels
import pandas as pd

movies = pd.read_excel('../Data/Movie_Ratings.xlsx')
movies.head()

,Movie_ID,Movie_Title,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),0,0,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),1,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,1,0,0

In [5]:
# 2. Remove the non-genre columns of the movie genre data
#movies.iloc[:,2:]
genres = movies.drop(columns=['Movie_ID']).set_index('Movie_Title')
genres.head()

,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
Movie_Title,,,,,,,,,,,,,,,,,,
Toy Story (1995),0,0,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
GoldenEye (1995),1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
Four Rooms (1995),0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
Get Shorty (1995),1,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0
Copycat (1995),0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,1,0,0

In [6]:
# 3. Calculate the cosine similarity of Toy Story (1995) and Get Shorty (1995)
from sklearn.metrics.pairwise import cosine_similarity

cosine_similarity(genres.loc[['Toy Story (1995)', 'Get Shorty (1995)']])

array([[1.        , 0.33333333],
       [0.33333333, 1.        ]])

In [7]:
# 4. Calculate the cosine similarity of Toy Story (1995) compared with all the movies
cosine_similarity(genres)

array([[1.        , 0.        , 0.        , ..., 0.        , 0.57735027,
        0.        ],
       [0.        , 1.        , 0.57735027, ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.57735027, 1.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 1.        , 0.        ,
        0.70710678],
       [0.57735027, 0.        , 0.        , ..., 0.        , 1.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.70710678, 0.        ,
        1.        ]])

In [14]:
cosine_df = pd.DataFrame(cosine_similarity(genres), index=movies['Movie_Title'], columns=movies['Movie_Title']).reset_index()
cosine_df.head()

Movie_Title,Movie_Title,Toy Story (1995),GoldenEye (1995),Four Rooms (1995),Get Shorty (1995),Copycat (1995),Shanghai Triad (Yao a yao yao dao waipo qiao) (1995),Twelve Monkeys (1995),Babe (1995),Dead Man Walking (1995),...,Mirage (1995),Mamma Roma (1962),"Sunchaser, The (1996)","War at Home, The (1996)",Sweet Nothing (1995),Mat' i syn (1997),B. Monkey (1998),Sliding Doors (1998),You So Crazy (1994),Scream of Stone (Schrei aus Stein) (1991)
0,Toy Story (1995),1.000000,0.000000,0.00000,0.333333,0.000000,0.00000,0.000000,0.666667,0.00000,...,0.000000,0.00000,0.00000,0.00000,0.00000,0.00000,0.000000,0.000000,0.57735,0.00000
1,GoldenEye (1995),0.000000,1.000000,0.57735,0.333333,0.333333,0.00000,0.000000,0.000000,0.00000,...,0.816497,0.00000,0.00000,0.00000,0.00000,0.00000,0.408248,0.000000,0.00000,0.00000
2,Four Rooms (1995),0.000000,0.577350,1.00000,0.000000,0.577350,0.00000,0.000000,0.000000,0.00000,...,0.707107,0.00000,0.00000,0.00000,0.00000,0.00000,0.707107,0.000000,0.00000,0.00000
3,Get Shorty (1995),0.333333,0.333333,0.00000,1.000000,0.333333,0.57735,0.408248,0.666667,0.57735,...,0.408248,0.57735,0.57735,0.57735,0.57735,0.57735,0.000000,0.408248,0.57735,0.57735
4,Copycat (1995),0.000000,0.333333,0.57735,0.333333,1.000000,0.57735,0.408248,0.333333,0.57735,...,0.408248,0.57735,0.57735,0.57735,0.57735,0.57735,0.408248,0.408248,0.00000,0.57735

In [15]:
cosine_df[['Movie_Title', 'Toy Story (1995)']]

Movie_Title                                Movie_Title  Toy Story (1995)
0                                     Toy Story (1995)          1.000000
1                                     GoldenEye (1995)          0.000000
2                                    Four Rooms (1995)          0.000000
3                                    Get Shorty (1995)          0.333333
4                                       Copycat (1995)          0.000000
...                                                ...               ...
1677                                 Mat' i syn (1997)          0.000000
1678                                  B. Monkey (1998)          0.000000
1679                              Sliding Doors (1998)          0.000000
1680                               You So Crazy (1994)          0.577350
1681         Scream of Stone (Schrei aus Stein) (1991)          0.000000

[1682 rows x 2 columns]

In [16]:
# 5. Return the top 5 movies with the highest cosine similarity
cosine_df[['Movie_Title', 'Toy Story (1995)']].sort_values(by='Toy Story (1995)', ascendiong=False)

TypeError: DataFrame.sort_values() got an unexpected keyword argument 'ascendiong'

## 2. User-Item Matrix

In [6]:
# 1. Read in the movies, users and ratings tabs of the spreadsheet into three DataFrames

In [7]:
# 2. Use .pivot to restructure the ratings data into a user-item matrix

## 3. TruncatedSVD

In [8]:
# 1. Apply TruncatedSVD to the user-item matrix from the last assignment

In [9]:
# 2. View the user-item matrix and the shape of the user-item matrix

In [10]:
# 3. View the U matrix and the shape of the U matrix

In [11]:
# 4. View the VT matrix and the shape of the VT matrix

## 4. Choosing the Number of Components

In [12]:
# 1. Fit a TruncatedSVD model with 500 components

In [13]:
# 2. Plot the cumulative explained variance ratios

In [14]:
# 3. Suggest a “good” number of components that best captures the info in the data set

In [15]:
# 4. Fit another TruncatedSVD model with the “good” number of components

## 5. Making Collaborative Filtering Recommendations

In [16]:
# 1. View the new user vector
import pandas as pd
import numpy as np

# read in the movies tab of the spreadsheet
movies = pd.read_excel('../Data/Movie_Ratings.xlsx')

# read in the ratings tab
ratings = pd.read_excel('../Data/Movie_Ratings.xlsx', sheet_name=2)

# use .pivot to restructure the ratings data into a user-item matrix
X = (ratings.pivot(index='User_ID', columns='Movie_ID', values='Rating').fillna(3))

# create a vector of NaN values
vector_length = X.shape[1]
new_user = np.full(vector_length, np.NaN)

# populate with 5 ratings
ratings = [5, 3, 5, 5, 4]
positions_to_populate = [11, 14, 28, 63, 66]
new_user[positions_to_populate] = ratings

# view as a DataFrame
new_user_df = pd.DataFrame([new_user], columns=movies.Movie_Title)
new_user_df

Movie_Title,Toy Story (1995),GoldenEye (1995),Four Rooms (1995),Get Shorty (1995),Copycat (1995),Shanghai Triad (Yao a yao yao dao waipo qiao) (1995),Twelve Monkeys (1995),Babe (1995),Dead Man Walking (1995),Richard III (1995),...,Mirage (1995),Mamma Roma (1962),"Sunchaser, The (1996)","War at Home, The (1996)",Sweet Nothing (1995),Mat' i syn (1997),B. Monkey (1998),Sliding Doors (1998),You So Crazy (1994),Scream of Stone (Schrei aus Stein) (1991)
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
# view only the movies that the new user rated
new_user_df.T.dropna()

                                     0
Movie_Title
Usual Suspects, The (1995)         5.0
Mr. Holland's Opus (1995)          3.0
Batman Forever (1995)              5.0
Shawshank Redemption, The (1994)   5.0
Ace Ventura: Pet Detective (1994)  4.0

In [18]:
# 2. Transform the user into the latent space using .transform()

In [19]:
# 3. Reconstruct the user-item matrix for the user using np.dot()

In [20]:
# 4. Make 10 movie recommendations for the user

In [21]:
# 5. Review the movies and determine if they make sense

In [22]:
# 6. Optional: Try playing around with the number of components to see the difference in movie recommendations